# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.example

# IDEs
.vscode
.idea

# Tests
tests/
.pytest_cache/
