VITE_SUPABASE_URL=https://uowfqsxqbkkmwpuxovcc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvd2Zxc3hxYmtrbXdwdXhvdmNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDg0MjEyMDAsImV4cCI6MTk5OTk5OTk5OX0.ey8n0YkPAb1gCwH8_kl0S1x7j3wVHi9h7h6m8n5pK6E
VITE_API_URL=http://localhost:8000/api/v1
